/*
re-usably libs
*/
/* base sizes */
/* font stuff */
/* body/link/heading colours */
/* break points */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
/* change colours to suit your needs */
ins {
  background-color: #efefef;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #efefef;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.cf {
  content: " ";
  display: table;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
body {
  color: #333333;
  font-family: 'Noto Sans', Arial, Helvetica, Sans serif;
  font-size: 100%;
  letter-spacing: 0.0625em;
  line-height: 1.42857143;
  background-color: white;
}
p {
  margin: 0.5em 0 1em;
}
a {
  color: #800080;
}
a:hover {
  color: #dda0dd;
}
a img {
  border: none;
}
h1,
h2,
h3,
h4 {
  margin: 8px 0 10px 0;
  color: #dda0dd;
}
ul {
  /*px*/ margin-left: 18px;
  /*rem*/ margin-left: 1rem;
  padding: 0;
}
ul li {
  /*px*/ margin-bottom: 9px;
  /*rem*/ margin-bottom: 0.5rem;
  line-height: 1.42857143;
}
body:nth-of-type(1) ul.bullet-list li {
  list-style-type: none;
  position: relative;
}
body:nth-of-type(1) ul.bullet-list li:before {
  content: "\00a0";
  display: block;
  border: solid 4px #464646;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 0;
  width: 0;
  position: absolute;
  left: 7px;
  top: 40%;
  margin-top: -4px;
}
/* layout files */
@media only screen and (max-width: 768px) {
  .ps-sd-display {
    display: block !important;
  }
  .ps-md-display,
  .ps-ld-display {
    display: none;
  }
}
@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}
body {
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flexbox !important;
  display: -ms-flex !important;
  display: flex !important;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: white;
  font-size: 100%;
}
body .body,
body .header,
body .footer {
  width: 98%;
  /*px*/ padding-top: 3.6px 3.6px;
  /*rem*/ padding-top: 0.2rem 0.2rem;
  padding-left: 1%;
  padding-right: 1%;
}
body .header,
body .footer {
  background-color: #800080;
  color: white;
}
body .body {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
  background-color: lightgrey;
}
/* xs mobile */
@media only screen and (max-width: 960px) {
  .ps-md-display {
    display: block !important;
  }
  .ps-sd-display,
  .ps-ld-display {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  .ld-display {
    display: block !important;
  }
  .sd-display,
  .md-display {
    display: none;
  }
}
.lt-ie10 .body,
.lt-ie9 .body,
.lt-ie8 .body,
.lt-ie7 .body,
.lt-ie10 .header,
.lt-ie9 .header,
.lt-ie8 .header,
.lt-ie7 .header,
.lt-ie10 .footer,
.lt-ie9 .footer,
.lt-ie8 .footer,
.lt-ie7 .footer {
  float: left;
  display: block;
}
.lt-ie10 .body:after,
.lt-ie9 .body:after,
.lt-ie8 .body:after,
.lt-ie7 .body:after,
.lt-ie10 .header:after,
.lt-ie9 .header:after,
.lt-ie8 .header:after,
.lt-ie7 .header:after,
.lt-ie10 .footer:after,
.lt-ie9 .footer:after,
.lt-ie8 .footer:after,
.lt-ie7 .footer:after {
  content: " ";
  display: table;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
.lt-ie10 .avatar,
.lt-ie9 .avatar,
.lt-ie8 .avatar,
.lt-ie7 .avatar,
.lt-ie10 .balloon-tale,
.lt-ie9 .balloon-tale,
.lt-ie8 .balloon-tale,
.lt-ie7 .balloon-tale,
.lt-ie10 .balloon-copy,
.lt-ie9 .balloon-copy,
.lt-ie8 .balloon-copy,
.lt-ie7 .balloon-copy {
  float: left;
  display: block;
}
.lt-ie10 .avatar,
.lt-ie9 .avatar,
.lt-ie8 .avatar,
.lt-ie7 .avatar {
  width: 26%;
  max-width: 120px;
  display: table-cell;
}
.lt-ie10 .balloon-tale,
.lt-ie9 .balloon-tale,
.lt-ie8 .balloon-tale,
.lt-ie7 .balloon-tale {
  width: 0;
  background-image: none;
}
.lt-ie10 .balloon-copy,
.lt-ie9 .balloon-copy,
.lt-ie8 .balloon-copy,
.lt-ie7 .balloon-copy {
  display: table-cell;
  width: 72%;
}
.lt-ie10 .balloon,
.lt-ie9 .balloon,
.lt-ie8 .balloon,
.lt-ie7 .balloon {
  display: table-row;
  width: 100%;
}
.lt-ie10 .balloon:after,
.lt-ie9 .balloon:after,
.lt-ie8 .balloon:after,
.lt-ie7 .balloon:after {
  content: " ";
  display: table;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
/* ui */
.rounded {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.balloon {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
}
.balloon .avatar {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  width: 120px;
  min-width: 120px;
}
.balloon .balloon-tale {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  background-image: -webkit-linear-gradient(transparent, transparent), url("/svg/balloon-end.svg");
  background-image: linear-gradient(transparent, transparent), url("/svg/balloon-end.svg");
  background-position: 'left top';
  background-repeat: no-repeat;
  background-size: 'contain';
  width: 30px;
  margin-left: 1%;
  /*px*/ margin-top: 18px;
  /*rem*/ margin-top: 1rem;
}
.balloon .balloon-copy {
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  -ms-flex-grow: 2;
  flex-grow: 2;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*px*/ padding: 7.2px;
  /*rem*/ padding: 0.4rem;
}
.lt-ie10 .avatar,
.lt-ie9 .avatar,
.lt-ie8 .avatar,
.lt-ie7 .avatar,
.lt-ie10 .balloon-tale,
.lt-ie9 .balloon-tale,
.lt-ie8 .balloon-tale,
.lt-ie7 .balloon-tale,
.lt-ie10 .balloon-copy,
.lt-ie9 .balloon-copy,
.lt-ie8 .balloon-copy,
.lt-ie7 .balloon-copy {
  float: left;
  display: block;
}
.lt-ie10 .avatar,
.lt-ie9 .avatar,
.lt-ie8 .avatar,
.lt-ie7 .avatar {
  width: 26%;
  max-width: 120px;
  display: table-cell;
}
.lt-ie10 .balloon-tale,
.lt-ie9 .balloon-tale,
.lt-ie8 .balloon-tale,
.lt-ie7 .balloon-tale {
  width: 0;
  background-image: none;
}
.lt-ie10 .balloon-copy,
.lt-ie9 .balloon-copy,
.lt-ie8 .balloon-copy,
.lt-ie7 .balloon-copy {
  display: table-cell;
  width: 72%;
}
.lt-ie10 .balloon,
.lt-ie9 .balloon,
.lt-ie8 .balloon,
.lt-ie7 .balloon {
  display: table-row;
  width: 100%;
}
.lt-ie10 .balloon:after,
.lt-ie9 .balloon:after,
.lt-ie8 .balloon:after,
.lt-ie7 .balloon:after {
  content: " ";
  display: table;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
/* xsmall */
@media only screen and (max-width: 580px) {
  .balloon .balloon-tale {
    background-image: none;
    width: 5px;
  }
}
/*small*/
/*medium*/
/*large*/
