.icon-icon_bubble { background-image: url('png/icon_bubble.png'); background-repeat: no-repeat; }

.icon-icon_car { background-image: url('png/icon_car.png'); background-repeat: no-repeat; }

.icon-icon_clock { background-image: url('png/icon_clock.png'); background-repeat: no-repeat; }

.icon-icon_cloud { background-image: url('png/icon_cloud.png'); background-repeat: no-repeat; }

.icon-icon_fuel { background-image: url('png/icon_fuel.png'); background-repeat: no-repeat; }

.icon-icon_mouse { background-image: url('png/icon_mouse.png'); background-repeat: no-repeat; }

.icon-icon_pound { background-image: url('png/icon_pound.png'); background-repeat: no-repeat; }

.icon-icon_search { background-image: url('png/icon_search.png'); background-repeat: no-repeat; }

.icon-icon_speech { background-image: url('png/icon_speech.png'); background-repeat: no-repeat; }

.icon-svg_bubble { background-image: url('png/svg_bubble.png'); background-repeat: no-repeat; }

.icon-svg_car { background-image: url('png/svg_car.png'); background-repeat: no-repeat; }

.icon-svg_clock { background-image: url('png/svg_clock.png'); background-repeat: no-repeat; }

.icon-svg_cloud { background-image: url('png/svg_cloud.png'); background-repeat: no-repeat; }

.icon-svg_fuel { background-image: url('png/svg_fuel.png'); background-repeat: no-repeat; }

.icon-svg_search { background-image: url('png/svg_search.png'); background-repeat: no-repeat; }

.icon-svg_speech { background-image: url('png/svg_speech.png'); background-repeat: no-repeat; }

