﻿body {
    color: @fontColour;
    font-family: @bodyfont;
    font-size:@baseFontSize;
    letter-spacing: 0.0625em;
    line-height:@lineHeight;
    background-color: white;
}

p {
    margin:0.5em 0 1em;
}

a {
    color: @linkColour;

    &:hover {
        color: @linkColourHover;
    }

    img { 
        border: none;
    }
}

h1, h2, h3, h4 {
	margin:8px 0 10px 0;
	color: @headingColour;
}

ul{
    .x-rem(margin-left,1);
    padding: 0;

    li{
        .x-rem(margin-bottom,0.5);
        line-height: @lineHeight;
    }
}

body:nth-of-type(1)  ul.bullet-list li {
    list-style-type: none;
    position: relative;

    &:before {
        content: "\00a0";
        display: block;
        border: solid 4px @midGrey;
        .rounded(4px);
        height: 0;
        width: 0;
        position: absolute;
        left: 7px;
        top: 40%;
        margin-top: -4px;
    }
}