﻿.customButton(@MainColour,@HoverColour,@BorderColour,@Radius,@FontColour,@FontHoverColour) {
    color: @FontColour !important;
    font-weight: normal !important;
    background-image: none !important;
    *background-color: @MainColour !important;
    background-color: @MainColour !important;
    //.x-rem(font-size,1);
    border: none !important;
    .rounded(@Radius) !important;
    .transition();

    &:hover,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
        color: @FontHoverColour !important;
        background-color: @HoverColour !important;
        *background-color: @HoverColour !important;
        cursor:pointer;
        .rounded(@Radius) !important;
    }
}

// micro clear fix
.cf {
    content:" "; display:table; height:0; clear:both; visibility:hidden; zoom:1;
}
 
 //rem mixin 
 //https://gist.github.com/drublic/4374738
.x-rem(@property,@sizeValues,@restLinkParams : false) {
  @propertyRem: ~'/*rem*/'@property;
  @propertyPx: ~'/*px*/'@property;
  .x-remloop();
  .x-remloop(@amount : length(@sizeValues), @i : 1) when (@i =< @amount){
    @sizeValue: extract(@sizeValues, @i);
    @pxValue : round(@sizeValue * @mainFontSize,2);
    @remValue : @sizeValue;
    & when not (@pxValue = 0) {
      @{propertyPx}+_ : ~"@{pxValue}px";
    }
    & when (@pxValue = 0) {
      @{propertyPx}+_ : @pxValue;
    }
    & when not (@remValue = 0) {
      @{propertyRem}+_ : ~"@{remValue}rem";
    }
    & when (@remValue = 0) {
      @{propertyRem}+_ : @remValue;
    }
    .x-remloop(@amount, (@i + 1));
  }
  & when not (@restLinkParams = false) {
    @{propertyPx}+_ : @restLinkParams;
  }
  & when not (@restLinkParams = false) {
    @{propertyRem}+_ : @restLinkParams;
  }
}


// create svg icon with fallback for browsers that dont support
.svg-icon(@icon, @position: center center, @size: cover) {
  //background: transparent url("/img/icon_@{icon}_small.gif") @position no-repeat;
  background-image: -webkit-linear-gradient(transparent, transparent), url("/svg/icon_@{icon}.svg");
  background-image: linear-gradient(transparent, transparent),  url("/svg/icon_@{icon}.svg");
  background-size: @size;
}

.svg(@svg, @position: center center, @size: cover, @repeat: no-repeat) {
  //background: transparent url("/img/@{svg}.png") @position no-repeat;
  background-image: -webkit-linear-gradient(transparent, transparent), url("/svg/@{svg}.svg");
  background-image: linear-gradient(transparent, transparent),  url("/svg/@{svg}.svg");
  background-position: @position;
  background-repeat: @repeat;
  background-size: @size;
}

.force-wrap() {
    word-wrap: break-word; /* IE */
    word-break: break-all;
}

.text-shadow (@x:0, @y:0, @blur:8px, @alpha:0.9) {
  text-shadow: @x @y @blur rgba(0,0,0,@alpha);
}
.stock-shadow () {.drop-shadow(0, 5px, 5px, 0.3);}

.font-face(@fontName: sans-serif; @fontWeight: normal; @fontStyle: normal) {
    @font-face {
        font-family: @fontName;
        src: url('@{fontPath}/fonts/@{fontName}/@{fontName}.eot');
        
        src: url('@{fontPath}/fonts/@{fontName}/@{fontName}.eot?#iefix') format('embedded-opentype'),
              url('@{fontPath}/fonts/@{fontName}.woff') format('woff');
            //,
             //url('@{fontPath}/fonts/@{fontName}/@{fontName}.ttf') format('truetype'),
             //url('@{fontPath}/fonts/@{fontName}/@{fontName}.svg#@{fontName}') format('svg');
        font-weight: @fontWeight;
        font-style: @fontStyle;
    }
}

.responsive-visibility() {
  display: block !important;
  table&  { display: table; }
  tr&     { display: table-row !important; }
  th&,
  td&     { display: table-cell !important; }
}

.responsive-invisibility() {
    &,
  tr&,
  th&,
  td& { display: none !important; }
}

//============================================================
//
// linear-gradient
//
// @param dir                 :  top, left, 90deg
// @param start-color         :  #000, rgba(255,255,255,0.5)
// @param end-color           :  #000, rgba(255,255,255,0.5)
//
// NOTE: The direction for the IE gradient is automagically 
// worked out for you based either on the direction or the 
// angle that you pass in. Obviously it will only be a 
// horizontal or vertical gradient, but it's still awesome.
//
// ALSO: Support for rgba is covered in IE too. Values are 
// converted to aRGB.
//
// @example .linear-gradient(50deg,  #eee, #aaa); (IE auto included)
//
// OR
//
// @example .linear-gradient-multi(~'top, #eee 0%, #aaa 50%, #eee 100%');
//          .linear-gradient-ie(top, #eee, #aaa);
//
//
// @see http://dev.w3.org/csswg/css3-images/#linear-gradients
//
//============================================================
 
.linear-gradient( @dir: top, @start-color: #eee, @end-color: #aaa ) {
  background: -webkit-linear-gradient(@dir, @start-color 0%, @end-color 100%);
  background: -moz-linear-gradient(@dir, @start-color 0%, @end-color 100%);
  background: -ms-linear-gradient(@dir, @start-color 0%, @end-color 100%);
  background: -o-linear-gradient(@dir, @start-color 0%, @end-color 100%);
  background: linear-gradient(@dir, @start-color 0%, @end-color 100%);
  .linear-gradient-ie( @dir, @start-color, @end-color);
}
 
.linear-gradient-multi( ... ) {
  background-image: -webkit-linear-gradient(@arguments);
  background-image: -moz-linear-gradient(@arguments);
  background-image: -ms-linear-gradient(@arguments);
  background-image: -o-linear-gradient(@arguments);
  background-image: linear-gradient(@arguments);
}
 
.linear-gradient-ie( @dir, @start-color, @end-color) when (@dir = top), 
  not ( isstring(@dir) ) and ( @dir >= 225 ) and ( @dir < 315 ), 
  not ( isstring(@dir) ) and ( @dir >= -135 ) and ( @dir < -45 ) {
    .linear-gradient-ie-filter(@start-color, @end-color, 0);
}
.linear-gradient-ie( @dir, @start-color, @end-color) when (@dir = right), 
  not ( isstring(@dir) ) and ( @dir >= 135 ) and ( @dir < 225 ), 
  not ( isstring(@dir) ) and ( @dir >= -225 ) and ( @dir < -135 ) {
    .linear-gradient-ie-filter(@end-color, @start-color, 1);
}
.linear-gradient-ie( @dir, @start-color, @end-color) when (@dir = bottom), 
  not ( isstring(@dir) ) and ( @dir >= 45 ) and ( @dir < 135 ), 
  not ( isstring(@dir) ) and ( @dir >= -315 ) and ( @dir < -225 ) {
    .linear-gradient-ie-filter(@end-color, @start-color, 0);
}
.linear-gradient-ie( @dir, @start-color, @end-color) when (@dir = left), 
  not ( isstring(@dir) ) and ( @dir >= 315 ) and ( @dir < 360 ), 
  not ( isstring(@dir) ) and ( @dir >= -45 ) and ( @dir < 45 ), 
  not ( isstring(@dir) ) and ( @dir < -315 ) and ( @dir >= -360 ) {
    .linear-gradient-ie-filter(@start-color, @end-color, 1);
}
 
.linear-gradient-ie-filter(@start: #eee, @end: #aaa, @type: 1) {
  @c-start: argb(@start);
  @c-end:   argb(@end);
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{c-start}', endColorstr='@{c-end}', GradientType=@{type})";
  -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{c-start}',endColorstr='@{c-end}',GradientType=@{type})";
}