

.lt-ie10,.lt-ie9,.lt-ie8,.lt-ie7 {

    .body,.header,.footer {display:block; float:left; display:block; &:after{.cf()};}

    .avatar,.balloon-tale,.balloon-copy {float:left; display:block;}
    .avatar {
        width:26%;
        max-width: 120px;
        display: table-cell;
    }
    .balloon-tale {
        width:0;
        background-image:none;
    }
    .balloon-copy {
        display: table-cell;
        width:72%;
    }
    .balloon {
        display: table-row;
        width:100%;
        &:after {.cf();}
    } 
}
