// Base layout - mobile first
//hide devices
@media only screen and (max-width: @screen-sm) {
    .ps-sd-display {display:block !important;}
    .ps-md-display, .ps-ld-display {display:none;}
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

body {
    .flex-display(flex) !important;
    .flex-direction(column);
    min-height: 100vh;
    width:100%;
    margin: 0;
    background-color: white;
    font-size:100%;

    //DRY
    .body,.header,.footer {width:98%; .x-rem(padding-top,0.2); .x-rem(padding-top,0.2); padding-left:1%; padding-right:1%;}
    .header,.footer {background-color: @colour2; color:white;}
    
    .body {
        .flex(1);
        .flex-shrink(0);
        .flex-basis(auto); 
        background-color:lightgrey;
    }
 
    .header {

    }

    .footer {

    }
}


/* xs mobile */
@media only screen and (max-width: @screen-xs) {

}