/* ui */
.rounded{.rounded();}


.balloon {
    .flex-display(flex);
    .flex-direction(row);
    .flex-wrap(nowrap);
    //justify-content: flex-end;
    //align-items:flex-start;
    //align-content:stretch;
    width:100%;

    //.avatar,.balloon-tale,.balloon {float:left;}

    .avatar {
        .flex-grow(1);
        width:120px;
        min-width: 120px;
    }
    .balloon-tale {
        .flex-grow(1);
        .svg('balloon-end','left top','contain');
        width:30px;
        margin-left:1%;
        .x-rem(margin-top,1);
    }
    .balloon-copy {
        background-color: white;
        .rounded();
        .flex-grow(2);
        .box-sizing(border-box);
        .x-rem(padding,0.4);
    }
}

.lt-ie10,.lt-ie9,.lt-ie8,.lt-ie7 {
    .avatar,.balloon-tale,.balloon-copy {float:left; display:block;}
    .avatar {
        width:26%;
        max-width: 120px;
        display: table-cell;
    }
    .balloon-tale {
        width:0;
        background-image:none;
    }
    .balloon-copy {
        display: table-cell;
        width:72%;
    }
    .balloon {
        display: table-row;
        width:100%;
        &:after {.cf();}
    } 
}


/* xsmall */
@media only screen and (max-width: @screen-xs) {
    .balloon .balloon-tale {background-image: none; width:5px;}
}

/*small*/
@media only screen and (max-width: @screen-sm) {
}

/*medium*/
@media only screen and (max-width: @screen-md) {
}

/*large*/
@media only screen and (min-width: @screen-md) {

}