﻿@colour1: plum;
@colour2: purple;

@lightGrey:#efefef;
@midGrey:#464646;
@darkGrey:#333333;

/* base sizes */
@stockPadding:1;//rem
@cornerRadius: 3px;

/* font stuff */
@lineHeight: 1.428571429;
@baseFontSize:100%;
@mainFontSize:18;//(only int) used by x-rem mixin
@bodyfont: 'Noto Sans', Arial, Helvetica, Sans serif;
@headingFont: 'Muli', Arial, Helvetica, Sans serif;

/* body/link/heading colours */
@fontColour: @darkGrey; 
@headingColour: @colour1;
@linkColour: @colour2;
@linkColourHover: @colour1;

/* break points */
@screen-xxs:340px;//340px; return this value when RWD project finished
@screen-xs:580px;
@screen-sm:768px;
@screen-md:960px;