
@media only screen and (min-width: @screen-md) {

    .ld-display {display:block !important;}
    .sd-display, .md-display {display:none;}

    .header,.footer {background-color: @colour1 !important;}

}