
@media only screen and (max-width: @screen-md) {

    .md-display {display:block !important;}
    .sd-display, .ld-display {display:none;}


    .header,.footer {background-color: red !important;}

}