

h1, h2, h3, h4 {
    color: @headerColour;
    font-weight:700;
    font-family: @headingFont;
}

strong {font-weight:700; font-family: @headingFont;}

ul.stacked-btn {
    li {list-style-type: none;}
}

#Benefits {
    
    h3 {
        font-weight:normal;
        font-family:@font;
        .x-rem(font-size,1.2);
        display:block;
        float:left;
        .x-rem(margin-left,1);
        .x-rem(padding,@stockPadding / 2);
        .rounded(@cornerRadius);
        max-width:70%;
        .transparent-black-background();
    }
}

#HowItWorks {
    p {
        .transparent-black-background();
        .rounded(@cornerRadius);
        .x-rem(padding,@stockPadding / 2);
        .x-rem(min-height,3);
        max-width:75%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/* mobile */
@media only screen and (max-width: @screen-xs) {
    h1.brand-logo {.x-rem(font-size,1.4); width: 100%;text-align: center;}
    #Benefits h3 {max-width:100% !important; width:98%; margin-left: 1%; margin-right: 1%; padding-right: 0; padding-left: 0;}
}

/* tablet */
@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {
    #Benefits h3 {width:60% !important;}
}

/* desktop */
@media only screen and (min-width: @screen-md) {
    #Benefits h3 {width:60% !important;}
}

#orgmaincon {
    padding: 30px 0;
}

.FAQsection a.colour_grey{
    color:black !important;
}