/* carousels */

    #mini-journeys  {
        background-color: @lsGreen;
        width:@containerWidth;
        margin:0 auto;
        overflow: hidden;

        .jcarousel-journeys {
            width:@containerWidth;
            overflow: hidden;
            position: relative;
            .x-rem(margin-top,2);

            .overlay1 {
                display:block;
                width:8%;
                height:100%;
                position: absolute;
                top:0;
                left:0;
                z-index: @zindex-carousel-overlays;
                .linear-gradient( left, rgba(114,173,84,1), rgba(114,173,84,0.1));

            }

            .overlay2 {
                display:block;
                width:8%;
                height:100%;
                position: absolute;
                top:0;
                right:0;
                z-index: @zindex-carousel-overlays;
                .linear-gradient( right, rgba(114,173,84,1), rgba(114,173,84,0.1));
            }
        }

        .jcarousel-journeys-control-prev {.x-rem(width,2);.x-rem(height,2);z-index: 1210; position: absolute;left:0; .x-rem(top,3); .svg-icon('next'); .rotation(180deg);  text-indent: 9999px;}
        .jcarousel-journeys-control-next {.x-rem(width,2);.x-rem(height,2);z-index: 1210;position: absolute;right:0; .x-rem(top,3); .svg-icon('next'); text-indent: 9999px;}

    }

    .jcarousel-journeys-pagination,.jcarousel-quotes-pagination {
        padding-top:1rem;
        a {
            content:'';
            text-indent: 9999px;
            .x-rem(width,0.7);
            .x-rem(height,0.7);
            display:inline-block;
            .rounded(50%);
            text-align: center;
            .x-rem(margin-right,0.4);
            .x-rem(margin-left,0.4);
            background-color:white;
            opacity:0.6;
            box-sizing: border-box;
            &.active,&:hover {
                opacity:1;
            }
        }
    }

    .jcarousel-journeys ul {
        list-style: none;
        width:auto;
        position: relative;
        width: 20000em;

        a {display:block;}
    }

    .jcarousel-quotes {
        .column(10);
        overflow: hidden;
        position: relative;
        margin:0 auto;
        float:none;
        .rounded(@cornerRadius);
        background-color: rgba(0,0,0,0.2);

        ul {
            list-style: none;
            width:auto;
            position: relative;
            width: 20000em;

            li {
                .column(10);
                overflow:hidden;
                display:block;
                float:left;
                padding:0.4rem;
                color:white !important;
                text-align: left;

                section {
                    .text-shadow(0,0,5px,0.9);
                    width:100%;
                    article {width:80%; float:left;}
                    aside{width:80px; margin-right:10px; float:left; img {width:90px; height:90px;}}
                }
            }
        }
        &:after {.cf();}
    }

    .jcarousel-journeys ul li {
            .column(5);
            .rounded(@cornerRadius);
            background-color: white;
            overflow:hidden;
            display:block;
            float:left;
            padding:0.4rem;
            
            h2, p {color:@fontColour;}
            h2 {.x-rem(font-size,1.1);}

            .column-one {width:64px; .x-rem(margin-right,0.2); float:left;}
            .column-two {width:60%; float:left;}
            .column-three {width:10%; float:left;}
    }