
.brand-colourone {color: @brandColour1 !important;}
.brand-colourtwo {color: @brandColour2 !important;}
.brand-colourthree {color: @brandColour3 !important;}

.colour-white {color:white !important;}
.colour-black {color:black !important;}
.colour-red {color: @colourRed !important;}
.colour-green {color: @colourGreen !important;}
.colour-blue {color: @colourBlue !important;}

.colour-darkgrey {color:@darkGrey !important;}
.colour-midgrey {color:@midGrey !important;}

.background-brand-colourone {
    background-color: @brandColour1;
}
.background-brand-colourtwo {
    background-color: @brandColour2;
}
.background-brand-colourthree {
    background-color: @brandColour3;
}

.background-white {background-color: white;}
.background-darkgrey {background-color: @darkGrey; color:white;}
.background-midgrey {background-color: @midGrey; color:white;}

.background-brand-colourone,.background-brand-colourtwo, .background-brand-colourthree, .background-darkgrey, .background-midgrey,.background-gradient-brand-colourone,.background-gradient-brand-colourtwo,.background-gradient-brand-colourthree {
    color:white;

    a {color:white;}
}

.background-gradient-grey {
    .linear-gradient (top, lighten(@midGrey,10%),@midGrey);
}
.background-gradient-brand-colourone {
    .linear-gradient (top, lighten(@brandColour1,10%),@brandColour1);
}
.background-gradient-brand-colourtwo {
    .linear-gradient (top, lighten(@brandColour2,10%),@brandColour2);
}
.background-gradient-brand-colourthree {
    .linear-gradient (top, lighten(@brandColour3,10%),@brandColour3);
}

.transparent-black-background {background-color:black; background-color: rgba(0,0,0,0.4)}