﻿.ps-standardForm {
    font-family:@formFont;

    p {
        display: block;
        color: @formFontColour;
        font-family:@formFont !important;
        &:after {
            .cf();
        }
    }

    label {
        .x-rem(margin-right,0.5);
        font-family:@formFont !important;
        .column(12);
        float: left;
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        color: @formFontColour;
    }

    p.group {

        label {
            width:auto !important;
            display: inline-block;
            float: none !important;
        }
    }

    select {
        .x-rem(padding-top,0.2);
        .x-rem(padding-bottom,0.2);
        .x-rem(padding-left,0.5);
        .x-rem(padding-right,0.5);
        .rounded(@cornerRadius);
        border:1px solid @midGrey;
        display: inline-block;
        font-family:@formFont !important;
    }

    input {
        .x-rem(padding-top,0.2);
        .x-rem(padding-bottom,0.2);
        .x-rem(padding-left,0.5) !important;
        .x-rem(padding-right,0.5);
        .x-rem(margin-right,0.5);
        .rounded(@cornerRadius);
        .column(12);
        border:1px solid @midGrey;
        .box-sizing();
        color: @formFontColour;
        float: left;
        position: relative;
        vertical-align: middle;
        display: inline-block;
        font-family:@formFont !important;

        &[type="checkbox"],&[type="radio"]  {
            .x-rem(margin-left,0.5);
            .x-rem(margin-right,0.5);
            .box-shadow(none) !important;
            width: auto;
            border: none;
            box-sizing:content-box;
            position: relative;
            display: inline-block;
            float: none !important;
            vertical-align: middle;
        }
        :valid
        :invalid
        :required
        :optional
        :in-range
        :out-of-range
        &[type="submit"] {border: none !important;}

        &[type="color"],
        &[type="email"],
        &[type="password"],
        &[type="search"],
        &[type="tel"],
        &[type="text"],
        &[type="url"],
        &[type="number"],
        &[type="date"],
        &[type="time"],
        &[type="datetime"],
        &[type="datetime-local"],
        &[type="week"],
        &[type="month"] {
            border:1px solid @midGrey;
            color: @formFontColour;
            float: left;            
        }
    }

    textarea {
        .column(12);
        .rounded(@cornerRadius);
        border:1px solid @midGrey;
        .x-rem(padding,0.5);
        .box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
        .box-sizing();
        resize: none;
        color: @formFontColour;
        .x-rem(min-height,8);
    }

    .form-header {
        .x-rem(margin-bottom,@stockPadding/2);
    }

    .btn {font-family:@formFont !important;}
}

.ps-chunkyForm {
    input {.x-rem(font-size,1.4); .x-rem(padding,0.4);}
}
/*.standardForm.horizontalForm {
    p {
        display:block;
        label,.sub-text {width:20%; float:left;}
        input, select,textarea {width:78%; float:right; margin-left:0;
            &[type="checkbox"],&[type="radio"]  {
                width:8%;
            }
        }
        .btn {margin-left:22%;}
    }
}*/


.quick-search {
    p {font-family:@formFont !important;}

    input {
        .x-rem(margin-top,0.2);
        .x-rem(padding-top,0.6);
        .x-rem(padding-bottom,0.6);
        .x-rem(padding-left,0.4) !important;
        .x-rem(padding-right,0.4);
        .x-rem(margin-right,0.5);
        .x-rem(font-size,1.2);
        .rounded(@cornerRadius);
        .column(12);
        border:1px solid @midGrey;
        .box-sizing();
        color: @midGrey;
        float: left;
        position: relative;
        vertical-align: middle;
        display: inline-block;
        font-family:@formFont !important;
    }
    .btn {
    	font-family:@formFont !important;
        .x-rem(padding-top,0.6) !important;
        .x-rem(padding-bottom,0.6) !important;
        .x-rem(font-size,1.1) !important;
        vertical-align: middle;
        //.x-rem(margin-top,0.1);
    }
}

/*

.btn-group {
    
    input[type="checkbox"] {
        display:none;
    };
    input[type="checkbox"]:checked + input[type="hidden"] + label,
    input[type="checkbox"]:checked + input[type="hidden"] + label.active,
    input[type="checkbox"]:checked + input[type="hidden"] + label:active {
        
        color:white !important;
        background-color: @colourGreen !important;
    }

input[type="checkbox"]:checked + input[type="hidden"] + label.active + input[type="checkbox"]:checked + input[type="hidden"] + label.active {
border-right:1px solid white;
}

    > .btn:first-of-type {
        .border-radius(0px,0px,@cornerRadius,@cornerRadius) !important;
    }
    & > .btn:last-child {
        .border-radius(@cornerRadius,@cornerRadius,0px,0px);
    }
    .btn {
        .x-rem(font-size,0.9);
        display: inline-block;
        float: left;
        width: 14%;
        text-align: center;
        margin-right: 0;
        margin-left:0;
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
          border-right:none;
        }
    }
}*/