﻿/* site and browser specific hacks */


	/* remove me when done */
	/* hack to force to 580px until full RWD ids ready */ 
	/*@media only screen and (max-width: @screen-xs) {
		html body {
			min-width:@screen-xs !important;
			.slicknav_menu {min-width:@screen-xs !important;}
		}
	}*/
	/* ^ remove this ^ */

	//chrome font load hack - stops unloaded font from rendering plain
	body {
	  -webkit-animation-duration: 0.1s;
	  -webkit-animation-name: fontfix;
	  -webkit-animation-iteration-count: 1;
	  -webkit-animation-timing-function: linear;
	  -webkit-animation-delay: 0.1s;
	}
	@-webkit-keyframes fontfix {
	  from {
	    opacity: 1;
	  }
	  to {
	    opacity: 1;
	  }
	}

	//font hacks for firefox
	@-moz-document url-prefix() {
	  h1,h2,h3,h4,strong {
	    font-weight: normal;
		}
	}

	//ie10 media quirie
	@-ms-viewport{
	    width: extend-to-zoom;
	    zoom: 1.0;
	}

    body {
    	text-rendering: geometricPrecision;
    	-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}