
a.btn.ps-icon {
	text-indent: -9999px;
}
a:hover.btn.ps-icon{-webkit-filter: brightness(50%);}

a .ps-icon-scale {
	.transition();
	.drop-shadow(0, 0, 0, 0);
}
a:hover .ps-icon-scale {
	.scale(1.2);
	.drop-shadow(0, 8px, 12px, 0.4);
	//filter: url(drop-shadow.svg#drop-shadow);
}


.ps-icon {
	display: block;
	
	&.ps-icon-inline {
		display: inline-block;
		vertical-align:middle;
	}

	&.ps-icon-hide {
		text-indent: -9999px;
		content:'';
	}
	&.ps-icon-transparent {
		opacity: 0.5;
	}
}

.white-circle {
	background-color: white;
	.rounded(50%);
	.x-rem(padding,1);
}

.icon-lighten-fifty {-webkit-filter: brightness(50%);}

	.car {
		.svg-icon('car');
		.opacity(0.8);
	}
	.clock {
		.svg-icon('clock');
		.opacity(0.8);
	}
	.bubble {
		.svg-icon('bubble');
		.opacity(0.8);
	}
	.cloud {
		.svg-icon('cloud');
		.opacity(0.8);
	}
	.fuel {
		.svg-icon('fuel');
		.opacity(0.8);
	}
	.pound {
		.svg-icon('pound');
		.opacity(0.8);
	}
	.search {
		.svg-icon('search');
		.opacity(0.8);
	}
	.speech {
		.svg-icon('speech');
		.opacity(0.8);
	}
	.mouse {
		.svg-icon('mouse');
		.opacity(0.8);
	}