// Base layout - mobile first
// Grid Variables - desktop
// -------------------
@containerWidth: 960px;
@columnCount:    12;
@gutterRatio:    20%;
@paddingRatio:   100%;

@import "base_v101/_mixins.less";
@import "_variables.less";
@import "_elements.less";//a set of less mixins
@import "_mixins.less";//custom mixins and other usefull mixins


.ieBackImg(@image_name) {
	background-image: url('/img/icon_@{image_name}_small.gif') !important;
	background-repeat: none;
	background-color:transparent;
}


//no PNG support
html.lt-ie6 body,
html.lt-ie7 body {
	.ps-icon .ps-xxlg {
	    width: 64px !important;
	    height: 64px !important;
	}
	p, ul {font-size:1.2em !important;}

	.car {
		.ieBackImg('car');
	}
	.clock {
		.ieBackImg('clock');
	}
	.bubble {
		.ieBackImg('bubble');
	} 
	.cloud {
		.ieBackImg('cloud');
	}
	.fuel {
		.ieBackImg('fuel');
	}
	.pound {
		.ieBackImg('pound');
	}
	.search {
		.ieBackImg('search');
	}
	.speech {
		.ieBackImg('speech');
	}
	.mouse {
		.ieBackImg('mouse');
	}
}

//no CCS3/media quirie support
html.lt-ie6 body,
html.lt-ie7 body,
html.lt-ie8 body {
	font-size:16px;

	p {font-size:1.2em !important;}

	.ps-sd-display {display: none;}
	#menu {display:block;}
    .slicknav_menu {display:none;}

    .top-bar {
    	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=180,Color='#000000')";
    }

	.white-circle {
		background-color:transparent !important;
		background-image: url('/img/circle-96.gif') !important;
	}

    .background-image-cover-one {
        background: url('/img/background-one-1800.jpg') @darkGrey no-repeat center center;
        filter:none;
        h2 {color:black !important; font-weight:bold;}
    }
    .background-image-cover-two {
        background: url('/img/new-journey-1800.jpg') @darkGrey no-repeat center center;
        filter:none;
        h2 {color:black !important; font-weight:bold;}
    }

    .brand-logo {
        background: url('/img/logo-lg.png');
        width:540px; height:85px;
        background-position: left top;
    }
	.quoteSam {top:76px; left:120px; width:175px;}
	.quoteZoe {top:170px; left:310px; width:200px;}
	.quoteVic {top:35px; left:500px; width:140px;}
	.welcome-image-left {margin-left: 0;}
    .welcome-image-center {
    	background: url('/img/welcome-center.png') repeat-x;
    	width:175px;
    	height:236px;
    }
    .welcome-image {margin:-19px 0 0 -2px; float:left;}

    .ps-header {
        .contain();
        width:100%;

        .nav-bar {
            .column(12);
            .setCenter();
            .x-rem(font-size,0.8);
        }
    }

    .ps-section {
        width:@containerWidth;
        .setCenter();
        &:after{.cf();};

            .ps-article {
                .column(8);
            }

            .ps-aside {
                .column(4);
            }
    }

    /* extra column layout */
    .ps-one-column {
        .column(12);
    }
    .ps-two-column {
        .column(6);
    }
    .ps-three-column {
        .column(4);
    }
    .ps-four-column {
        .column(3);
    }

    //semi transparent
    #Benefits h3 {
		filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f000000', endColorstr='#7f000000', GradientType=1)";
		-ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f000000',endColorstr='#7f000000',GradientType=1)";
	    zoom: 1;
	}

	.quick-search {
        input {.column(4.3);}
    }


    .ps-footer {
        width:100%;
        .setCenter();
        .contain();
        ul .ps-three-column {
            .column(4);
            float:left !important;

            li {
                float:left !important; width:100% !important;
                a {padding-right:0;}
            }
        }
    }
    .liftshare-logo-white{background-image: url('/img/liftshare_white_small.gif');}
    .btn {
    	&.btn-large {font-size:1.3em !important;}
    	&.btn-xlarge {font-size:1.6em !important;}
    }
}

/* all ie */
html.lt-ie body {


}