
    .brand-logo {
        //background: url('/img/logo-xs.png') no-repeat center center;
        //height:44px; text-indent:-9999px;
        //background-repeat: no-repeat;
		//background-position: center;
		//background-size:contain;
		width: 100%;
	}

    .background-image-cover-one {background-image:none; .linear-gradient (top, lighten(@brandColour2,10%),@brandColour2);}
    .background-image-cover-two {
        h2 {color:white;}
        background-image:none; .linear-gradient (top, lighten(@brandColour1,10%),@brandColour1);
    }

    .welcome-image {
        background: url('/img/mobile-welcome.png');
        width:278px; height:278px;
        //.setCenter();
        float:none;
        margin-left: auto;
        margin-right: auto;
        .rounded(50%);
        .drop-shadow(10px,10px,0,0.2);

        .ps-quote {
        	color:@darkGrey;
        	.x-rem(font-size,0.8);
        	text-align:center;
        	.x-rem(width,12.5);
			margin: 0 auto;
			.x-rem(padding-top,11.5);
			.border-radius(0,50%,50%,0);
        }
    }
/* extra small mobile */
@media only screen and (max-width: @screen-xxs) {
    .welcome-image {display:none;}
    .background-image-cover-one {background-color:@brandColour3;}
    .background-image-cover-two {background-color:@brandColour1;}
}

/* mobile */
@media only screen and (max-width: @screen-xs) {
    .background-image-cover-one {
        background: url('/img/background-one-580x890.jpg') @darkGrey no-repeat center center;
        background-size: cover;
    }
    .background-image-cover-two {
        background: url('/img/new-journey-580.jpg') @darkGrey no-repeat center center;
        background-size: cover;
    }
}

/* mobile */
@media only screen and (min-width: @screen-xs) and (max-width: @screen-sm) {
    .brand-logo {
        //background: url('/img/logo-sm.png');
        //height:60px;
        //background-repeat: no-repeat;
		//background-position: center;
		//width: 100%;
        text-align: center;       
    }

    .background-image-cover-one {
        background: url('/img/background-one-768.jpg') @darkGrey no-repeat center center;
    }
    .background-image-cover-two {
        background: url('/img/new-journey-768.jpg') @darkGrey no-repeat center center;
    }
}

/* interim version - needs different layout */
@media only screen and (min-width: @screen-sm) and (max-width:870px) {
    .brand-logo {
        text-align: center;       
    }
	.welcome-image-left {display: none;}
	.quoteSam {top:109px; left:6%; width:160px; text-align: right;}
	.quoteZoe {top:68px; left:69%; width:200px;}
	.quoteVic {top:15px; left:15%; width:140px;}
    .welcome-image {.setCenter(); float:none;}

    //hacks
    html body .ps-sd-display .welcome-image{display:none;}
    html body .ps-sd-display#mobile-welcome {display:none !important;}
}
@media only screen and (min-width: 870px) and (max-width: @screen-md) {
    .brand-logo {
        text-align: center;       
    }
	.quoteSam {top:76px; left:20%; width:175px;}
	.quoteZoe {top:170px; left:43%; width:200px;}
	.quoteVic {top:15px; left:32%; width:140px; text-align: right;}
    .welcome-image {margin:-19px 0 0 -2px; float:left;}
}

/* tablet */
@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {
    .background-image-cover-one {
        background: url('/img/background-one-960.jpg') @darkGrey no-repeat center center;
    }
    .background-image-cover-two {
        background: url('/img/new-journey-960.jpg') @darkGrey no-repeat center center;
    }    
}

/* tablet and desktop */
	.quote {
		position: absolute;
		display: block;
		font-style: italic !important;
		padding-left: 1em;
    	text-indent: -1em;
    	font-family: 'Noto Sans', arial,  'sans-serif';
	}

    .welcome-image-left {
    	background: url('/img/welcome-image-left.png') no-repeat center center;
    	width:489px;
    	height:236px;
    	margin-left:7%;
    }


/* desktop */
@media only screen and (min-width: @screen-md) {

    .background-image-cover-one {
        background: url('/img/background-one-1800.jpg') @darkGrey no-repeat center center;
    }
    .background-image-cover-two {
        background: url('/img/new-journey-1800.jpg') @darkGrey no-repeat center center;
    }

    .brand-logo {
        // background: url('/img/logo-lg.png');
        // width:540px; height:85px;
        // background-position: left top;
    }
	.quoteSam {top:76px; left:120px; width:175px;}
	.quoteZoe {top:170px; left:310px; width:200px;}
	.quoteVic {top:35px; left:500px; width:140px;}
	.welcome-image-left {margin-left: 0;}
    .welcome-image-center {
    	background: url('/img/welcome-center.png') repeat-x;
    	width:175px;
    	height:236px;
    }
    .welcome-image {margin:-19px 0 0 -2px; float:left;}
}

/*.background-image-cover-one, .background-image-cover-two {
    h1, h2, h3, h4, p {
        color:white;
    }
    h1,h2,h3,h4 {
        .text-shadow();
    }
}*/


.liftshare-logo-colour{.svg('Liftshare-powered',center center, contain); content:''; text-indent: -9999px;}
.liftshare-logo-white{.svg('Liftshare-powered-white',center center, contain); content:''; text-indent: -9999px;}
.liftshare-small {.x-rem(width,9);.x-rem(height,4);}