/* liftshare overides*/

body #lsw-rwd {
    background-color: @ls_grey;
    .x-rem(padding,0.2);
}

body #ls-rwd .toggleboxtitle colour_blue {
    color: @ls_grey !important;
} 

body #ls-rwd .toggleboxtitle .togglelink a {
    color: @ls_purple !important;
    text-decoration: underline !important;

    &:hover {
        color: @ls_purple !important;
        text-decoration: none !important;
    }
}

body #ls-rwd .homebutconouter .homebutcon span {color:@headerColour  !important;}

body #ls-rwd .LoginForm label {
    color: @ls_grey !important;
}

body #ls-rwd ul #messagingnav .background_purple {
    background-color: @ls_purpleBackground !important;
}

/*body #ls-rwd ul #messagingnav .border_purple {
    border-color: @ls_purpleBorder !important;
}

body #ls-rwd #messagingnav a {
    border-color: @ls_purpleBorder !important;
}

body #ls-rwd ul #messagingnav a {
    border-color: @ls_purpleBorder !important;
}*/

body #ls-rwd .homebutcon span {
    color: @ls_purple !important;
}

body #ls-rwd a.homebutcon:hover {
    background-color: lighten(@brandColour2,40%) !important;
}

// body #ls-rwd .usercontact th, strong {
//     color: @ls_purple !important;
// }

body #ls-rwd .usercontact .headerrow th {
    border-bottom: 1px solid @ls_purpleBorder !important;
}
body #ls-rwd th.ratingcell {
    border-right: 1px solid @ls_purpleBorder !important;
}
body #ls-rwd .usercontact td {
    border-bottom: 1px solid @ls_purpleBorder !important;
}
body #ls-rwd td.statuscell {
    border-right: 1px solid @ls_purpleBorder !important;
}

body #ls-rwd ul.bullet_list li {
    /*background: transparent url('../images/bullet.gif') no-repeat 0 3px !important;*/
    /* replace with css bullets */
}

body #ls-rwd .v4_form_standard_left {
    color: @ls_grey !important;
}

body #ls-rwd .v4_table th {
    border-bottom: 1px solid @ls_grey !important;
}

body #ls-rwd .v4_table th a {
    color: @ls_purple !important;
}

body #ls-rwd .LV_invalid {
    color:@ls_purple !important;
}

body #ls-rwd #progressbar_v4 .current {
    color:@ls_purple !important;
}
body #ls-rwd #progressbar_v4 .completed {
    color:@ls_green !important;
    font-weight:bold;
}

body #ls-rwd .toggleboxtitle {
    color: @ls_purple !important;
    font-weight: bold;

    .colour_blue {
        color: @ls_purple !important;
    }
}

/* layout */
/*body #ls-rwd .container {
    padding:10px;
    margin-top:10px;
}*/

body #ls-rwd .rounded {
    .rounded(@ls_borderRadius);
}

/* button stuff*/
body #ls-rwd .btn-green, body #NotifyCon .btn-green {
    background-color: @ls_greenButton !important;
    border-color: darken(@ls_greenButton,20%) !important;

    &:hover, &.selected {
       background-color:@ls_greenButtonHover !important;
    }
}
body #ls-rwd .btn-blue, body #NotifyCon .btn-blue {
    background-color:@ls_blueButton !important;
    border-color: darken(@ls_blueButton,20%) !important;

    &:hover, &.selected {
        background-color:@ls_blueButtonHover !important;
    }
}
body #ls-rwd .btn-purple, body #NotifyCon .btn-purple {
    background-color:@ls_purpleButton !important;
    border-color: darken(@ls_purpleButton,20%) !important;
    
    &:hover, &.selected {
       background-color:@ls_purpleButtonHover !important;
    }
}
body #ls-rwd .btn-lblue, body #NotifyCon .btn-lblue {
    background-color:@ls_greyButton !important;
    border-color: darken(@ls_greyButton,20%) !important;
    
    &:hover, &.selected {
       background-color:@ls_greyButtonHover !important;
    }
}

body #ls-rwd .btn, body #NotifyCon .btn {
    border-radius:@ls_borderRadius !important;
    //text-shadow: none !important;
    color: white !important;
    border:none !important;
    background-image:none !important;
    // .x-rem(font-size,1) !important; 
}

/* colours */
body #ls-rwd .border_purple {
    border-color: @ls_purpleBorder !important;
}

body #ls-rwd .border_green {
    border-color: @ls_greenBorder !important;
}

body #ls-rwd .border_lightblue {
    border-color: @ls_blueBorder !important;
}

body #ls-rwd .border_grey {
    border-color: @ls_greyBorder !important;
}

body #ls-rwd .colour_purple {
    color: @ls_purple !important;
}

body #ls-rwd .colour_blue {
    color: @ls_blue !important;
}

body #ls-rwd .colour_darkblue {
    color: @ls_blue !important;
}

body #ls-rwd .colour_green {
    color: @ls_green !important;
}

body #ls-rwd .background_purple {
    background-color: @ls_purpleBackground !important;
}

body #ls-rwd .background_blue {
    background-color: @ls_blueBackground !important;
}

body #ls-rwd .background_white {
    background-color: @ls_whiteBackground !important;
}

/*body #ls-rwd .background_green {
    background-color: @ls_greenBackground;
}

body #ls-rwd .background_lightyellow {
    background-color: @ls_greenBackground;
}*/