// Base layout - mobile first

	//hide devices
	@media only screen and (max-width: @screen-sm) {
	    .ps-sd-display {display:block !important;}
	    .ps-md-display, .ps-ld-display {display:none;}
	}

    @viewport{
        zoom: 1.0;
        width: extend-to-zoom;
    }

    body {
        .flex-display(flex) !important;
        .flex-direction(column);
        min-height: 100vh;
        width:100%;
        display:block;

        .ps-body {
            .flex(1);
            .flex-shrink(0);
            .flex-basis(auto); 
            display: block;
        }

        .ps-header {
            width:100%;
            display:block;
        }

        .ps-section {
            width:96%;
            margin-left: 2%;
            margin-right: 2%;

            &:after{.cf();};
            
            & + .ps-section { margin-bottom: 0;}
            
            .ps-article {width:100%;}
            .ps-aside {width:100%;}
        }
    }

    .ps-full-width {
        width:100%;
        display: block;
        &:after {.cf();}
    }

    .cover-half-height {
        height:0;
        margin:0;
        padding:0;
    }
    .cover-full-height {
        height:0;
        margin:0;
        padding:0;
    }

    .ps-three-column {
        .column(4);
    }
    .ps-two-column {
        .column(6);
    }
    .ps-four-column {
        .column(6);
    }

    .top-bar {
        background-color: @midGrey;
        opacity: 0.95;
        width:100%;
        .stock-shadow();
        box-sizing: border-box;
        display:block;
        position: fixed;
        top:0;
        z-index:@zindex-topbar;

        .nav-bar {
            ul {
                .x-rem(padding-top,0.6);
                margin:0 !important;
                li {
                    list-style-type: none;
                    float:left;

                    .btn{
                        margin-top:0;
                        margin-bottom:0;
                    }
                    a {
                        color:white;
                        display:block;
                        .x-rem(padding-top,0.2);
                        .x-rem(padding-bottom,0.2);
                        .x-rem(padding-right,0.5);
                        .x-rem(padding-left,0.5);
                        .x-rem(margin-right,1);
                        &:hover {background-color:@brandColour2; .rounded(@cornerRadius);}
                    }
                }
            }
        }
    }

    #footermenu {display:none}

    /* slicknav specific */
    /*hide normal menu and display touch menu*/
    .js #menu {display:none;}
    .js .slicknav_menu {display:block;}
    /* force horizontal stack on mobile*/
    .top-bar .nav-bar ul.slicknav_nav  li {
        list-style-type: circle;
        float: none;
        a.btn {.x-rem(margin-top,0.3); .x-rem(margin-bottom,0.3);}
        a {width:100%; text-align: center !important;}
    }
    /* end of slicknav */

    .ps-footer {
        display:block;
        width:100%;
        bottom:0;

        &:after {.cf();}
        
        ul { 
            width:100%;
            margin:0;

            li {
                list-style-type: none;
                width:33%;
                float:left;
                    &.liftshare-pos {
                        width:100% !important;
                        .x-rem(margin,0.5);
                    }
                    a {color:white;}
                }
            }
    }

    .quick-search {
        input {padding-left: 1% !important; padding-right: 1% !important;} 
        .btn {padding-left:0; padding-right:0;} 
        .btn, input {width:98%; margin-right: 1%; margin-left: 1%;}
    }

    .vertical-align-table {
        display: table;
        .vertical-align-row {
            display:table-row;
            height:100%;
            .vertical-align-center {
                vertical-align: center;
                height: 100%;
                display: table-cell;
            }
        }
    }

    .central-block {
        width:100%;
        max-width:@containerWidth;
        height:100%;
        display:table;
        .x-rem(min-height,6);

        &.full {width:@containerWidth !important;}

        .central-block-row {display:table-row;}

        .central-block-center-middle {vertical-align: middle; display: table-cell; text-align: center;}

        h1 {
            .x-rem(margin-bottom,4);
        }
    }

/* xs mobile */
@media only screen and (max-width: @screen-xs) {
    #Benefits {
        .ps-two-column {text-align:center; width:98%; margin-left: 1%; margin-right: 1%; &:after{.cf();}}
        .ps-pull-left {float:none !important;}
        .ps-icon {display:inline-block !important;}
        h3 {width:98% !important; margin-left:1% !important; margin-right: 1%;}
    }
    //.btn-xlarge {.x-rem(font-size,1.4) !important;.x-rem(padding-top,.6) !important;.x-rem(padding-bottom,.6) !important;.x-rem(padding-left,1) !important;.x-rem(padding-right,1) !important;}
}

/* sign in */
#signInDiv h2:not(:first-child) {
    .x-rem(margin-top,2);
}