    .ps-padding-one {
        .x-rem(padding,@stockPadding);
    }
    .ps-padding-two {
        .x-rem(padding,@stockPadding * 2);
    }

    .ps-padding-top-one {
        .x-rem(padding-top,@stockPadding);
    }
    .ps-padding-top-two {
        .x-rem(padding-top,@stockPadding * 2);
    }

    .ps-padding-bottom-one {
        .x-rem(padding-bottom,@stockPadding);
    }
    .ps-padding-bottom-two {
        .x-rem(padding-bottom,@stockPadding * 2);
    }

    .ps-padding-vertical-one {
        .x-rem(padding-top,@stockPadding);.x-rem(padding-bottom,@stockPadding);
    }
    .ps-padding-vertical-two {
        .x-rem(padding-top,@stockPadding*2);.x-rem(padding-bottom,@stockPadding*2);
    }

    .ps-margin-bottom-one {
        .x-rem(margin-bottom,1);
    }

    .ps-cover-quarter {
        display: inline-block;
    }
    .ps-cover-third {
        display: inline-block;
    }
    .ps-cover-half {
        display: inline-block;
    }
    .ps-cover-full {
        display: inline-block;
    }

.ps-icon {
    .x-rem(width,1.8);
    .x-rem(height,1.8);
    .x-remtwo(background-size,1.75,1.75) !important;
    display: block;
    
    &.ps-xs {
        .x-rem(width,1);
        .x-rem(height,1);
        .x-remtwo(background-size,0.95,0.95) !important;
    }
    &.ps-sm {
        .x-rem(width,1.4);
        .x-rem(height,1.4);
        .x-remtwo(background-size,1.35,1.35) !important;
    }
    &.ps-lg {
        .x-rem(width,2.2);
        .x-rem(height,2.2);
        .x-remtwo(background-size,2.15,2.15) !important;
    }
    &.ps-xlg {
        .x-rem(width,2.6);
        .x-rem(height,2.6);
        .x-remtwo(background-size,2.55,2.55) !important;
    }
    &.ps-xxlg {
        .x-rem(width,4);
        .x-rem(height,4);
        .x-remtwo(background-size,3.9,3.9) !important;
    }
    &.ps-xxxlg {
        .x-rem(width,8);
        .x-rem(height,8);
        .x-remtwo(background-size,7.9,7.9) !important;
    }
}


/* font sizes */
/* mobile */
    h1 {font-size: @fontSize * 2;}
    h2 {font-size: @fontSize * 1.6;}
    h3 {font-size: @fontSize * 1.4;}
    h4 {font-size: @fontSize * 1.2;}

/* tablet */
@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {

    h1 {font-size: @fontSize * 3;}
    h2 {font-size: @fontSize * 2;}
    h3,h4 {font-size: @fontSize * 1.5;}


}
/* desktop */
/*@media only screen and (min-width: @screen-md) {
}*/