//
// Tables
// --------------------------------------------------


table {
  max-width: 100%;
}
th {
  text-align: left;
}


// Baseline styles

.table {
  width: 100%;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        .x-rem(padding,@stockPadding / 2);
        vertical-align: middle;
        border-top: 1px dotted @midGrey;
      }
    }
  }

  > tbody {
    > tr {
      > td {
        .x-rem(padding-top,@stockPadding);
        .x-rem(padding-bottom,@stockPadding);
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-top:none !important;
    border-bottom: 1px solid @midGrey;
    .icon {float: left !important; .x-rem(margin-right,0.3);}
    white-space: nowrap;
  }
  
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
        .icon {float:none;}
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid @midGrey;
  }

  // Nesting
  // .table {
  //   background-color: @body-bg;
  // }
}

@media only screen and (min-width: 767px) {
  .table-responsive {
    width: 100%;
    //margin-bottom: (@line-height-computed * 0.75);
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}
