﻿/* Buttons */


.btn-colour1 {
    .customButton(@brandColour1,@brandColour2,@brandColour1,@cornerRadius,white,white);
    border:none;
}

.btn-colour2 {
    .customButton(@brandColour2,@brandColour1,@brandColour1,@cornerRadius,white,white);
    border:none;
}

.btn-colour3 {
    .customButton(@brandColour3,@brandColour1,@brandColour1,@cornerRadius,white,white);
    border:none;
}

.btn-colour4 {
    .customButton(@brandColour2,@brandColour3,@brandColour1,@cornerRadius,white,white);
    border:none;
}

.btn-block {width:100%;}

/*.btn-large {
    .x-rem(font-size,1.4);
    .x-rem(padding-top,.6);
    .x-rem(padding-bottom,.6);
    .x-rem(padding-left,2);
    .x-rem(padding-right,2);
}
.btn-xlarge {
    .x-rem(font-size,2);
    .x-rem(padding-top,1.2);
    .x-rem(padding-bottom,1.2);
    .x-rem(padding-left,2);
    .x-rem(padding-right,2);
}*/