//********************
// prefixed with 'ps' to stop conflicts with liftshare core system css
//clearing shizzle
.ps-clear {
    .cf();
}

.ps-position-rel {position: relative;}

// align/float
.ps-pull-right,.ps-floatRight {
    float: right;
}
.ps-pull-left,.ps-floatLeft {
    float: left;
}
.ps-pull-top {margin-top:0 !important; padding-top:0 !important;}

.ps-textLeft, .ps-text-left {
    text-align:left;
}
.ps-textRight, .ps-text-right {
    text-align:right;
}
.ps-textCenter,.ps-text-center {
    text-align:center;
}

.ps-inline-block {display:inline-block;}

//font sizes
.ps-font-xsm {.x-rem(font-size,0.7)}
.ps-font-sm {.x-rem(font-size,0.8)}
.ps-font-md {.x-rem(font-size,1.2)}
.ps-font-lg {.x-rem(font-size,1.6)}
.ps-font-xlg {.x-rem(font-size,2)}
.ps-font-xxlg {.x-rem(font-size,2.4)}
.ps-font-bold {weight:700; font-weight: bold;}
.ps-text-shadow {text-shadow:0px 0px 6px rgba(0,0,0,0.8);}


//generic layout shizzle
.ps-container, .ps-row {
	display: inline-block;
	width:100%;

	&:after {
		.cf();
	}
}

.ps-full-width {
	width:100% !important;
	margin:0;
	display: inline-block;
	//float:left;
	&:after {
		.cf();
	}
}

.ps-rounded {.rounded(@cornerRadius);}

//image styling
.ps-img-rounded {.rounded(@cornerRadius);}
.ps-img-circle {.rounded(50%);}