﻿/*paths*/
@fontPath: '';

/* base colours */
@brandColour1:#164C63;
@brandColour2:#A1BBDA;
@brandColour3:#D8A852;
@brandColour4:#7cc576;

@colourGreen:#48B75A;
@colourYellow:yellow;
@colourBlue:#1D79BF;
@colourRed:red;

@vLightGrey:#efefef;
@lightGrey:#efefef;
@midGrey:#464646;
@darkGrey:#333333;
@vDarkGrey:#222222;

@backgroundColour:@vLightGrey;
@infoBoxBackgroundColour:@lightGrey;

/* base sizes */
@stockPadding:1;//rem
@cornerRadius: 3px;
@full-cover-height:44;
@icon-size:1;

/* font stuff */
@lineHeight: 1.428571429;
@baseFontSize:100%;
@fontSize:1em;
@mainFontSize:16px;
@font: 'Noto Sans', Arial, Helvetica, Sans serif;
@headingFont: 'Muli', Arial, Helvetica, Sans serif;
@formFont:@font;

/* body/link/heading colours */
@fontColour: @darkGrey;
@formFontColour: @darkGrey;
@headerColour: @darkGrey;
@linkColour: @brandColour1;
@linkColourHover: @brandColour2;
@navigationColour: @brandColour1;
@navigationColourHover: @brandColour2;

/* Liftshare override colours */
/* font colours */
@ls_purple:@fontColour;
@ls_blue:@fontColour;
@ls_green:@fontColour;
@ls_grey:@fontColour;
//@ls_lgrey:@fontColour;

/* background colours */
@ls_purpleBackground:@backgroundColour;
@ls_blueBackground:@backgroundColour;
@ls_greenBackground:@backgroundColour;
@ls_whiteBackground:white;

/* Liftshare button colours */
@ls_purpleButton:@brandColour3;
@ls_blueButton:@brandColour2;
@ls_greenButton:@brandColour1;
@ls_greyButton:@midGrey;

@ls_purpleButtonHover:@brandColour2;
@ls_blueButtonHover:@brandColour1;
@ls_greenButtonHover:@brandColour2;
@ls_greyButtonHover:@brandColour2;

/* borders */
@ls_purpleBorder:@lightGrey;
@ls_blueBorder:@lightGrey;
@ls_greenBorder:@lightGrey;
@ls_greyBorder:@lightGrey;
@ls_borderRadius: @cornerRadius;

/* z-index */
@zindex-tooltip:1990;
@zindex-topbar:2000;

/* break points */
@screen-xxs:0;//340px; return this value when RWD project finished
@screen-xs:580px;
@screen-sm:768px;
@screen-md:960px;