// Base layout - mobile first
// Grid Variables - desktop
// -------------------
@containerWidth: 960px;
@columnCount:    12;
@gutterRatio:    20%;
@paddingRatio:   100%;

@import "base_v101/_mixins.less";
@import "_variables.less";
@import "_elements.less";//a set of less mixins
@import "_mixins.less";//custom mixins and other usefull mixins
@import "_responsive.less";//element sizes

@lineHeight:1.42;
@main-font-size:16px;


@media only screen and (min-width: @screen-md) {

    .ps-ld-display {display:block !important;}
    .ps-sd-display, .ps-md-display {display:none;}

    .js #menu {display:block;}
    .js .slicknav_menu {display:none;}

    //desktop ls body width
    #ls-rwd {
        width:@containerWidth !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }

    body {
        width:100%;
        font-size: 100%;

        .top-bar .nav-bar ul li {
            white-space: nowrap;
            margin-right:0;
            .x-rem(margin-bottom,0.5);
        }
        ul#menu li .btn {margin-top:-0.2em;}

        .ps-header {
            .contain();
            width:100%;

            .nav-bar {
                .column(12);
                .setCenter();
                .x-rem(font-size,0.8);
            }
        }
        .ps-body {
                .x-rem(min-height,30);
        }
        .ps-section {
            width:@containerWidth;
            .setCenter();
            &:after{.cf();};

            .ps-article {
                .column(8);
            }

            .ps-aside {
                .column(4);
            }
        }
        .ps-footer {
            width:100%;
            .x-rem(padding-top,1);
            position: relative;
            
            ul#footermenu {
                .setCenter();
                .contain();                
                display:block !important;
                .x-rem(height,5);
                .x-rem(margin-top,2);

                li {
                    width:auto;
                    margin-right:0;
                    margin-left:0;
                    .x-rem(padding-left,1);
                    .x-rem(padding-right,1);
                    border-right:1px solid white;
                    float:left !important;
                    &.last, &:last-child {border-right:none !important;}
                    &.liftshare-pos {clear:both; float:right; margin:1em;}
                }
            }
        }
    }

    /* extra column layout */
    .ps-one-column {
        .column(12);
    }
    .ps-two-column {
        .column(6);
        min-height: 8rem;
    }
    .ps-three-column {
        .column(4);
    }
    .ps-four-column {
        .column(3);
    }

    .cover-quarter {
        .x-rem(height,@full-cover-height / 4);
    }
    .cover-third {
        .x-rem(height,@full-cover-height / 3);
    }
    .cover-half {
        .x-rem(height,@full-cover-height / 2);
    }
    .cover-full {
        .x-rem(height,@full-cover-height);
    }

    .cover-percent {
        display: inline-block;
        padding-top: 24%;
        max-height:410px;
    }
    
    /* page specific */
    .quick-search {
        input {width:40%;}
        .btn {width:auto; .x-rem(padding-left,1); .x-rem(padding-right,1);}
    }

    //desktop users menu

    #dropdown-menu  {       
        background-color:@darkGrey;
        opacity:0.9;
        display: none;
        position: absolute;
        .x-rem(left,5);
        .x-rem(top,4);
        .rounded(@cornerRadius);
        color: white;
        .drop-shadow(0, 15px, 15px, 0.2);
        .x-rem(font-size,1);

        ul {list-style-type: none;
            li {
                .x-rem(padding,0.4);
                text-align: left;
                a {
                    color:white;
                    .transition();

                    &:hover {
                        padding-left:10px;
                        color:@midGrey;
                        &:before {
                            content:' ';
                            width:1em; height:1em;
                            display:inline-block;
                            float:left;
                            vertical-align:middle;
                        }
                    }
                }

            }
        }

        &::before  {
            content: "";
            position: absolute;
            top:-15px;
            .x-rem(left,1);
            border-width: 0 15px 15px;
            border-style: solid;
            border-color: @darkGrey transparent;
            display: block;
            width:0;
            height:0;
        }
    }

}