/*
    Author: Jonathan Scutt
    Date: 11/03/2014
    Version: 1
    
    Base file loads all other css  
*/
@import "_variables.less"; //all of the variables(colours,fonts,sizes)
@import "_reset.less";//html reset to normalise across browsers

// Grid Variables - Mobile first
// -------------------
@containerWidth: 100%;
@columnCount:    1;
@gutterRatio:    1%;
@paddingRatio:   100%;
@import "base_v101/_mixins.less";//responsive mixins
@import "libs/_flexbox.less";//responsive mixins

/* LESS variables: colours, fonts, site width, etc */

@import "_elements.less"; //mixins
@import "_mixins.less"; // custom mixins (btn buttons)

/* general html & site layout */
@import "_html.less"; //standard tags

/* layout files */
@import "_mobile.less";//base styles for mobile

@import "_utilities.less";//utilities styles - float, clears, rounding

@import "_colours.less";//colours of course
@import "_images.less";//images
@import "_responsive.less";//sizes (fonts,padding,etc)
@import "_modal.less";//custom modal
@import "_forms.less";//form elements
@import "_ui.less";//ui elements buttons, icons
@import "_icons.less";//ui elements buttons, icons

/* other libraries and usefull stuff*/
@import "_slicknav.less";//form elements

/* site specific stuff */
@import "_brand.less";

/* liftshare colour overrides */
@import "_liftshare.less"; //liftshare site over rides

/* hacks */
@import "_hax.less"; //browser specific hacks and temporary media quirie to force to minimum size
@import "_custombox.less";

//fonts
.font-face('newbtbd-webfont', 700);
.font-face('newbt-webfont', 300);