//
// Responsive CSS File - Tablet ~768px - 960px
// --------------------------------------------------

// Grid Variables - Mobile first
// -------------------
@containerWidth: 100%;
@columnCount:    12;
@gutterRatio:    10%;
@paddingRatio:   100%;

@import "base_v101/_mixins.less";
@import "_variables.less";
@import "_elements.less";//a set of less mixins
@import "_mixins.less";//custom mixins and other usefull mixins
@import "_responsive.less";//element sizes


@lineHeight:1.428571429;
@main-font-size:15px;


@media only screen and (min-width: @screen-sm) and (max-width: @screen-md) {

    .ps-md-display {display:block !important;}
    .ps-sd-display, .ps-ld-display {display:none;}
	
    body {
        font-size: 90%;

        .ps-header {
            .contain();
        }
        .ps-section {
            .column(12,0,1);
            float:none !important;
            &:after{.cf();};

            .ps-article {
                .column(8);
            }

            .ps-aside {
                .column(4);
            }
        }
    }

    /* template */
    /* turn drop shadow of when slicknav comes in (also has drop shadow)*/
    .top-bar {
        .drop-shadow(0, 0, 0, 0) !important;
    }

    /* slicknav specific */
    /* force horizontal stack on mobile*/
    .top-bar .nav-bar ul.slicknav_nav  li {
        list-style-type: none;
        float: left;
        .x-rem(margin-right,1.4);
       //li a.btn:first-child {.x-rem(margin-right,0.3);}
    }
    .ps-footer {
        display:block;
        width:100%;
        //position:fixed;
        bottom:0;
    }
    /* end of slicknav */

    /* page specific */
    .quick-search {
        input {padding-left: 1% !important; padding-right: 1% !important;} 
        .btn {padding-left:0; padding-right:0;} 
        .btn, input {width:98%; margin-right: 1%; margin-left: 1%;}
    }

    /* extra column layout */
    .ps-two-column {
        .column(6);
        min-height: 8rem;
    }
    .ps-three-column {
        .column(4);
    }
    .ps-four-column {
        .column(6);
    }

    .cover-percent {
        display: inline-block;
        padding-top: 24%;
        max-height:303px;
    }

    .cover-quarter {
        .x-rem(height,@full-cover-height / 4);
    }
    .cover-third {
        .x-rem(height,@full-cover-height / 3);
    }
    .cover-half {
        .x-rem(height,@full-cover-height / 2);
    }
    .cover-full {
        .x-rem(height,@full-cover-height);
    }

}